<!DOCTYPE html>
<html>

<head>
  <title>Node.js Bot</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>On this server a telegram bot is running</h1>
      <hr />
      <a type="button" class="btn btn-lg btn-primary" href="https://t.me/agnoBuonacacciaBot">
        <span class="glyphicon glyphicon-send"></span> Telegram Bot</a>
      <a type="button" class="btn btn-lg btn-success" href="https://github.com/Agno94/BuonacacciaBot">
        <span class="glyphicon glyphicon-folder-open"> </span> Source on GitHub</a>
    </div>
  </div>
</body>

</html>